Modules/AudioEngine/AudioEngine.xcodeproj/xcuserdata
Modules/DeckFeature/DeckFeature.xcodeproj/xcuserdata
Modules/DSP/DSP.xcodeproj/xcuserdata
Modules/UIComponents/UIComponents.xcodeproj/xcuserdata
Modules/Waveform/Waveform.xcodeproj/xcuserdata
Projects/MixerApp/MixerApp.xcodeproj/xcuserdata
Mixer.xcworkspace/xcuserdata
AppStore/*
